@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    font-weight: lighter;
    background: url(media/pexels-thought-catalog-904616.jpg);
    background-size: 1400px auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}
header{
    position:fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
}
header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: 24px;
    float: left;
    font-weight: lighter;
    font-family: 'Parisienne', cursive;
    font-size: 30px;

}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: 'Homemade Apple', cursive;
    font-size: 16px;
}
header nav ul li a:hover,
header nav ul  li a.active
{
    color:#fff;
    background: #2196f3;
}
.menu-toggle{
    color:#fff;
    float:right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

main{
    margin: 5% 25%;
    background-color: rgba(192, 18, 149, 0.411);
    box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.075);
    border-radius: 20px;
    max-height: calc(300vh - 56px);
    padding: 20px;
    width: 50%;
    align-self: center;
    
}

iframe{
  width:100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


h1{
    font-family: 'Parisienne', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    font-family: 'Parisienne', cursive;
    color:rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    padding: 0.25rem;
    letter-spacing: 0.1rem;
}
p{
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   background:rgba(0, 0, 0, 0.801);
   color: rgb(22, 22, 22);
   padding: 0.25rem;
    
}
footer ul li{
   display: inline;
   flex-direction: row;
   width: 30%;
   content: center;
   align-items: flex-start;
  

}

.icon ul li {
   float: left;
   width: 20%;
   font-size: 15px;
   color:#fff;
   list-style: none;
   text-align: center;   
}
.icon ul li:hover{
   transform: rotate(360deg);
   transition: 0.1s;
   font-size: 20px; 
} 

.slideshow-container {
   max-width: 1000px;
}
  
.prev, .next {
   cursor: pointer;
   position: fixed;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
  }
 
  
.next {
   right: 5%;
   border-radius: 3px 0 0 3px;
  }

.prev{
   left: 5%;
   border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}

  
.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
}
.mySlides{
   display: none;
    
}
   
.fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
}
  
  
@-webkit-keyframes fade {
   from {opacity: .2}
   to {opacity: 1}
}
  
@keyframes fade {
   from {opacity: .2}
   to {opacity: 1}
  }
@media(max-width: 991px){
    header{
       padding: 0 20px;
    }
  
    .menu-toggle{
       display: block;
       position: relative;
    }
    .menu-toggle:active{
       transform: rotate(360deg);
       transition: 0.5s;
       color: #262626;
    }
    .prev{
       display: none;
    }
    header nav{
       position: absolute;
       width: 50%;
       height: calc(100vh -50px );
       background: #333;
       top: 50px;
       left: -100%;
       transition: 0.5s;

    }
    header nav.active{
       left: 0;
    }
    
    header nav ul{
       display: block;
       text-align: center;

    }
    header nav ul li  a{
       border-bottom: 1px solid rgba(0,0,0,.2);
    }
    main{
       margin: 8% 25%;
       padding: 20px;
       width: 50%;

    }
    
}
@media(max-width: 500px){
    main{
       margin: 15% 25%;
       padding: 20px;
       width: auto;
    }
    h1{
       font-size: 20px;
    }
    h2{
       font-size:16px ;
       text-align: center;
    }

  .prev{
     display: none;
  }

}





